In [2]:
# simple print function
print("Hello Python World!")

Hello Python World!

In [3]:
# print function using a variable as an input.
message = "Hello Python World!"
print(message)

Hello Python World!

In [4]:
# changing cases in strings
name = "john peralta"
print(name.title())
print(name.lower())
print(name.upper())

John Peralta
john peralta
JOHN PERALTA

In [5]:
# format strings
first_name = 'john'
last_name = 'peralta'
format_string_sample = f"Hey, {first_name.title()} {last_name.title()}!"
print(format_string_sample)

Hey, John Peralta!

In [6]:
# adding tabs or new lines
whitespace_sample = "first_line\n\tsecond_line"
print(whitespace_sample)

first_line
	second_line

In [7]:
# removing white space
raw_string = "         raw_string      "
print(raw_string.lstrip())
print(raw_string.strip())
print(raw_string.rstrip())

raw_string
raw_string
         raw_string

In [8]:
# prefix and suffix removal
raw_url = "www.johnperalta.com"
unwanted_prefix = "www."
unwanted_suffix = ".com"
print(raw_url.removeprefix("www.").removesuffix(".com"))

johnperalta

In [9]:
# practice a f-string
person_name = 'john'
personal_message = f"Sup {person_name.title()}!"
print(personal_message)

Sup John!

In [10]:
# integers
subtraction = 5 - 3
addition = 5 + 3
division = 5 / 3
multiplication = 5 * 3

print(subtraction)
print(addition)
print(division)
print(multiplication)

2
8
1.6666666666666667
15

In [11]:
# different ways to multiply
regular = 3 * 2
exponent = 3 ** 2
print(regular)
print(exponent)

6
9

In [12]:
# bedmas sample
fourteen = 2 + 3*4
twenty = (2 + 3) * 4
print(fourteen)
print(twenty)

14
20

In [13]:
# any operation with a float will output a float
point_two = 0.1 + 0.1
point_five = 0.2 + 0.3
point_six = 0.3 * 2
point_sixforever = 2/3

print(point_two)
print(point_five)
print(point_six)
print(point_sixforever)

0.2
0.5
0.6
0.6666666666666666

In [14]:
# you can use _ to make it easier to read large numbers
fourteen_million = 14_000_000
print(fourteen_million)

14000000

In [15]:
# multiple assignement on one line of code
x, y, z = 'x_axis', 'y_axis', 'z_axis'
print(x)
print(y)
print(z)

x_axis
y_axis
z_axis

In [16]:
""" you can't make constants in python, you can only label constants and
respect them, below is disrespect. """
BIRTHDAY = 7
print(BIRTHDAY)
BIRTHDAY = 7 + 2
print(BIRTHDAY)

7
9

In [17]:
# practice, make 8 four different ways
eight_one = 5 + 3
eight_two = 16 / 2
eight_three = 11 - 3
eight_four = 16 * .5
ATE = 8

print(eight_one)
print(eight_two)
print(eight_three)
print(eight_four)
print(ATE)

8
8.0
8
8.0
8

In [18]:
# list examples
poodle_types = ['schnoodle', 'maltipoo', 'labradoodle']
print(poodle_types)

['schnoodle', 'maltipoo', 'labradoodle']

In [19]:
# use square brackets to access elements of a list
first_poodle_type = poodle_types[0]
last_poodle_type = poodle_types[-1]
print(first_poodle_type)
print(last_poodle_type)

schnoodle
labradoodle

In [20]:
# grabbing elemnt in a list and using it in an f-string
message = f"{first_poodle_type.title()} types are usually small in stature."
print(message)

Schnoodle types are usually small in stature.

In [21]:
# printing out every element in a list
for poodle_type in poodle_types:
  print(poodle_type)

schnoodle
maltipoo
labradoodle

In [22]:
# modifying an element in a list
poodle_types[0] = "shihpoo"
print(poodle_types)

['shihpoo', 'maltipoo', 'labradoodle']

In [23]:
# adding an element to a list
poodle_types.append("schnoodle")
print(poodle_types)

['shihpoo', 'maltipoo', 'labradoodle', 'schnoodle']

In [24]:
# you initiate an empty list then add to it
list_to_fill = []
list_to_fill.append("new_element_one")
list_to_fill.append("new_element_two")
list_to_fill.append("new_element_three")
print(list_to_fill)

['new_element_one', 'new_element_two', 'new_element_three']

In [25]:
# you can use a del statement to delete an element from a list
del list_to_fill[0]
print(list_to_fill)

['new_element_two', 'new_element_three']

In [26]:
""" you can remove an item using the pop method, this removes the last element
you can remove the last element and reuse it, pop is lifo unless a pop index
is specified """
list_to_fill.append("new_element_four")
print(list_to_fill)
popped_element = list_to_fill.pop()
print(list_to_fill)
print(popped_element)

['new_element_two', 'new_element_three', 'new_element_four']
['new_element_two', 'new_element_three']
new_element_four

In [27]:
# an element can be removed from a list based on value
car_brands = ['honda', 'toyota', 'ford', 'hyundai']
american_brand = "ford"
car_brands.remove(american_brand)
print(car_brands)
print(american_brand)

['honda', 'toyota', 'hyundai']
ford

In [28]:
# practice
random_people =['mike', 'walt', 'jesse', 'skylar']
for person in random_people:
  print(person)

mike
walt
jesse
skylar

In [29]:
# practice part 2
cant_attend = 'skylar'
new_person = 'salamanca'
random_people[-1] = new_person
for person in random_people:
  print(f"you're officially invited {person}!")
print(f"you're officially univited {cant_attend}!")

you're officially invited mike!
you're officially invited walt!
you're officially invited jesse!
you're officially invited salamanca!
you're officially univited skylar!

In [30]:
# practice part 3
print('i got a bitter table somehow!!!')
random_people.insert(0, 'bob')
random_people.insert(2, 'saul')
random_people.append('ricky')
for person in random_people:
  print(f"you're invted to a bigger table {person}!")

i got a bitter table somehow!!!
you're invted to a bigger table bob!
you're invted to a bigger table mike!
you're invted to a bigger table saul!
you're invted to a bigger table walt!
you're invted to a bigger table jesse!
you're invted to a bigger table salamanca!
you're invted to a bigger table ricky!

In [31]:
# practice part 4
print('sorry, I can only take two of you now...')

while len(random_people) > 2:
  cant_come = random_people.pop()
  print(f"sorry {cant_come}, you can't come.")

for person in random_people:
  print(f"{person} you can still come, you're cool enough.")

sorry, I can only take two of you now...
sorry ricky, you can't come.
sorry salamanca, you can't come.
sorry jesse, you can't come.
sorry walt, you can't come.
sorry saul, you can't come.
bob you can still come, you're cool enough.
mike you can still come, you're cool enough.

In [32]:
# practice part 5
while len(random_people) > 0:
  del random_people[0]
print('no one is invited anymore...')
print(random_people)

no one is invited anymore...
[]

In [33]:
# organizing a list using a permanent sort
dog_breeds = ['poodle', 'schnauzer', 'pug', 'husky', 'mixed']
dog_breeds.sort(reverse=True)
print(dog_breeds)

['schnauzer', 'pug', 'poodle', 'mixed', 'husky']

In [34]:
# organizing a list using a temporary sort
print(dog_breeds)
print(sorted(dog_breeds))
print(dog_breeds)

['schnauzer', 'pug', 'poodle', 'mixed', 'husky']
['husky', 'mixed', 'poodle', 'pug', 'schnauzer']
['schnauzer', 'pug', 'poodle', 'mixed', 'husky']

In [35]:
# printing a list in reverse order
list_sample = ['one', 'two', 'three', 'four']
print(list_sample)
list_sample.reverse()
print(list_sample)

['one', 'two', 'three', 'four']
['four', 'three', 'two', 'one']

In [36]:
# finding the length of a list
print(len(list_sample))

4

In [37]:
# practice
locations = ['china', 'japan', 'phillipines', 'canada', 'usa']
print(locations)
print(sorted(locations))
print(locations)
print(sorted(locations, reverse=True))
print(locations)

locations.reverse()
print(locations)
locations.reverse()
print(locations)

['china', 'japan', 'phillipines', 'canada', 'usa']
['canada', 'china', 'japan', 'phillipines', 'usa']
['china', 'japan', 'phillipines', 'canada', 'usa']
['usa', 'phillipines', 'japan', 'china', 'canada']
['china', 'japan', 'phillipines', 'canada', 'usa']
['usa', 'canada', 'phillipines', 'japan', 'china']
['china', 'japan', 'phillipines', 'canada', 'usa']

In [38]:
# Looping through an entire list
sample_list = ['one', 'two', 'three', 'four']
for element in sample_list:
  print(element)

one
two
three
four

In [39]:
# you can do alot within a code block
count = 1
for element in sample_list:
  print(f"{element}={count}")
  count += 1
print('this is outside the for loop.')

one=1
two=2
three=3
four=4
this is outside the for loop.

In [40]:
# practice
pizzas = ['veggie', 'pineapple', 'pepperoni']
for pizza in pizzas:
  print(f"I like {pizza} pizza!!!")
print("\nI really like pizza!!!!!")

I like veggie pizza!!!
I like pineapple pizza!!!
I like pepperoni pizza!!!

I really like pizza!!!!!

In [41]:
# practice
dogs = ['poodle', 'schnoodle', 'labradoodle']
for dog in dogs:
  print(f"A {dog.title()} would make a great pet!")
print("\nActually any of these would make a great pet!")

A Poodle would make a great pet!
A Schnoodle would make a great pet!
A Labradoodle would make a great pet!

Actually any of these would make a great pet!

In [42]:
# using range function
for value in range(1, 5):
  print(value)
print("\nthe first number is inclusive, the last number is exclusive")

1
2
3
4

the first number is inclusive, the last number is exclusive

In [43]:
# turning a range into a list
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [44]:
# you can create a range that only shows every three numbers, two numbers, etc.
# notice that the 2nd arg which is the end of range isn't include in list
multiples_of_three = list(range(3, 15, 3))
print(multiples_of_three)

[3, 6, 9, 12]

In [45]:
# you can operate on every value in a range to build a new list
squares_of_threes = []
for value in multiples_of_three:
  squares_of_threes.append(value ** 2)
print(squares_of_threes)

[9, 36, 81, 144]

In [46]:
# you can use list comprehensions to build lists in one line of code
cubes_of_threes = [value ** 3 for value in range(3, 15, 3)]
print(cubes_of_threes)

[27, 216, 729, 1728]

In [47]:
# simple statistics functions
min_cube = min(cubes_of_threes)
max_cube = max(cubes_of_threes)
sum_cubes = sum(cubes_of_threes)

print(min_cube)
print(max_cube)
print(sum_cubes)

27
1728
2700

In [48]:
# practice
list_to_twenty = [value for value in range(1, 21)]
for value in list_to_twenty:
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [49]:
# practice
odd_to_twenty = [value for value in range(1, 21, 3)]
print(odd_to_twenty)
print(min(odd_to_twenty))
print(max(odd_to_twenty))
print(sum(odd_to_twenty))

[1, 4, 7, 10, 13, 16, 19]
1
19
70

In [50]:
# slicing a list
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3]) # the slice syntax is not inclusive.
print(players[0:3:2]) # third arg can make you skip

['charles', 'martina', 'michael']
['charles', 'michael']

In [51]:
# looping through a slice
numbers = ['zero', 'one', 'two', 'three', 'four', 'five']
for number in numbers[-3:]:
  print(number.title())

Three
Four
Five

In [52]:
# copying a list
numbers_copy = numbers[:] # use a slice, otherwise ur pointing to same list
numbers_copy.append('six')

print(numbers)
print(numbers_copy)

['zero', 'one', 'two', 'three', 'four', 'five']
['zero', 'one', 'two', 'three', 'four', 'five', 'six']

In [53]:
# practice
print("first three numbers are:")
for value in numbers[:3]:
  print(value)

first three numbers are:
zero
one
two

In [54]:
# practice
print("three numbers in the middle are:")
for value in numbers[1:5]:
  print(value)

three numbers in the middle are:
one
two
three
four

In [55]:
# practice
print("the last three of a list are:")
for value in numbers[-3:]:
  print(value)

the last three of a list are:
three
four
five

In [56]:
# practice
pizzas = ['pepperoni', 'ham', 'veggie']
friend_pizzas = pizzas[:]
friend_pizzas.append('canadian')
print(pizzas)
print(friend_pizzas)

['pepperoni', 'ham', 'veggie']
['pepperoni', 'ham', 'veggie', 'canadian']

In [57]:
message = "My favorite pizzas are:"
print(message)
for pizza in pizzas:
  print(pizza)
message = "My friends favourite pizzas are:"
print(message)
for pizza in friend_pizzas:
  print(pizza)

My favorite pizzas are:
pepperoni
ham
veggie
My friends favourite pizzas are:
pepperoni
ham
veggie
canadian

In [58]:
# tuples, tuples are immutable you will receive an error if you try to modify
city_coordinates = (150, 0)
print(city_coordinates[0])
print(city_coordinates[-1])

150
0

In [59]:
# for loops work on tuples too
for coordinate in city_coordinates:
  print(coordinate)

150
0

In [60]:
# you can assign a new value to a variable variable that represents a tuple
tuple_sample = (1, 13, 30)
tuple_sample = (2, 4, 25)
print(tuple_sample)

(2, 4, 25)

In [61]:
buffet_foods = ('noodle', 'soup', 'rice', 'chicken', 'shrimp')
print("Current Food Items:")
for food in buffet_foods:
  print(food)

buffet_foods = ('candy', 'sugar', 'rice', 'chicken', 'shrimp')
print("\nNew Food Items:")
for food in buffet_foods:
  print(food)

Current Food Items:
noodle
soup
rice
chicken
shrimp

New Food Items:
candy
sugar
rice
chicken
shrimp

In [62]:
# learning if statements
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

In [65]:
# checking for equality, case matters when matching strings
car = 'Audi'
print(car == 'audi')
print(car.lower() == 'audi')

False
True

In [69]:
# using an equality within an if statement
question_answer = 'yes'

if question_answer == 'yes':
    print("the person answered yes!")

the person answered yes!

In [70]:
# using an inequality within an if statement
question_answer = 'no'

if question_answer != 'yes':
    print('the answer was not yes!')

the answer was not yes!

In [71]:
# numerical comparisons
print(18 == 18)
print(17 >= 16)
print(18 <= 19)
print(20 != 21)

True
True
True
True

In [74]:
# how to check for multiple conditions
age = 18
if age >= 18 and age < 21:
    print(f'this person is age: {age}. they can drink in alberta but not in the us.')

this person is age: 18. they can drink in alberta but not in the us.

In [76]:
age = 66
if age >= 65 or age <= 18:
    print(f'This person is age: {age}. Which means they qualify as a minor or a senior.')

This person is age: 66. Which means they qualify as a minor or a senior.